<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= t('.greeting', name: @user.name) %>
    <br />
    <br />
    <%= t('.participation', passenger_name: @passenger.name, name: @passenger.events.last.user.name) %>

    <%= t('.view') %>
    <%= link_to t(".link"), "/passenger/#{@event.passenger_id}", target: "_blank" %>

    <br />
    <br />

    <%= image_tag(@event.photo_url(:thumb), alt: 'Image'.to_s) if @event.photo? %>
  </body>
</html>
