<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= t('.thank_you', name: @user.name) %>

    <br />
    <br />

    <%= t('.participation', passenger_name: @passenger.name) %>
    <%= t('.view') %>
    <%= link_to t(".link"), "/passenger/#{@event.passenger_id}", target: "_blank" %>

    <br />
    <br />

    <% if @event.photo.blank? %>
      <%= t('.action_call_photo') %>
      <%= link_to t(".personal_space"), "/dashboard/contributions/#{@event.id}/edit", target: "_blank" %>

      <br />
      <br />

      <%= t('.hint_photo') %>
    <% else %>
      <%= t('.online_photo') %>
      <br />
      <%= image_tag(@event.photo_url(:thumb), alt: 'Image'.to_s) %>
    <% end%>

  </body>
</html>
