<div class="col-md-4">
  <div class="authform">
    <%= simple_form_for (@event), html: { multipart: true, role: "form" } do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <% if user_signed_in? && current_user.try(:admin?) || @event.new_record? %>
          <div class="input-group">
            <%= f.text_field :address, class: 'form-control', :autofocus => true, placeholder: true, required: true %>
            <span class="input-group-btn">
              <a href="#" class="btn btn-default geolocate" onclick="getLocation()" type="submit">
                  <i class="fa fa-map-marker"></i>
              </a>
            </span>
          </div>
          <div id="error-address"></div>

        <% end %>

        <% if (@event.latitude.blank? || @event.longitude.blank?) && current_user.try(:admin?) %>
          <%= f.input :latitude %>
          <%= f.input :longitude %>
        <% end %>

        <div class="form-group">
          <label></label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="input-url-image" readonly placeholder="<%= t('no_file_chosen') %>">
                      <span class="input-group-btn">
                          <span class="btn btn-default btn-file">
                              <i class="fa fa-camera"></i>
                              <%= f.input :photo, :as => :file, label: false %>
                          </span>
                      </span>
                  </div>
                  <div id="error-photo" class="text-danger"></div>
                  <img id='img-upload'/>
              </div>

        <%= f.hidden_field :photo_cache %>

        <% if event.photo? %>
          <%= image_tag event.photo.thumb.url %>
            <% if user_signed_in? && current_user.try(:admin?) || @event.new_record? %>
            <div>
              <%= label_tag :remove_image do %>
              <%# TODO =%>
                Remove image
                <%= f.check_box :remove_photo %>
              <% end %>
            </div>
            <% end %>
        <% end %>

        <% if @event.new_record? && !current_user.try(:admin?) %>
          <%= hidden_field_tag :shortcut, params[:shortcut] %>
        <% end %>

        <% if current_user.try(:admin?) %>
          <%= f.association :passenger, include_blank: false, include_hidden: false %>
          <%= f.association :user, include_blank: false, include_hidden: false %>
          <%= f.input :created_at, as: :date_time_picker, input_html: { data: { locale: I18n.locale } } %>
          <%= f.input :published %>
        <% end %>

        <div class="form-actions">
          <%= f.button :submit, class: "btn-primary" %>
        </div>
    <% end %>

  </div>
</div>

<div class="col-md-8" style="margin-top:30px;">
  <div id="map" style="height: 500px"></div>
</div>

<script>

// load file name into form
$(document).on('change', '.btn-file :file', function() {
		var input = $(this),
			label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
		input.trigger('fileselect', [label]);
		});

		$('.btn-file :file').on('fileselect', function(event, label) {

		    var input = $(this).parents('.input-group').find(':text'),
		        log = label;

		    if( input.length ) {
		        input.val(log);
		    } else {
		        if( log ) alert(log);
		    }

		});

		function readURL(input) {
		    if (input.files && input.files[0]) {
		        var reader = new FileReader();

		        reader.onload = function (e) {
		            $('#img-upload').attr('src', e.target.result);
                $('#img-upload').css('padding','15px');
                $('.hint-photo').addClass('hidden');

		        }

		        reader.readAsDataURL(input.files[0]);
		    }
		}

		$("#event_photo").change(function(){
		    readURL(this);
		});
// ask for file if click on form
    $('#input-url-image').on('click', function() {
        $('#event_photo').click();
    });
</script>

<script>
jQuery.validator.setDefaults({
  success: "valid",
  errorElement: "span",
errorClass: "help-block",
highlight: function (element, errorClass, validClass) {
// Only validation controls
if (!$(element).hasClass('novalidation')) {
    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
}
},
unhighlight: function (element, errorClass, validClass) {
// Only validation controls
if (!$(element).hasClass('novalidation')) {
    $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
}
},
errorPlacement: function (error, element) {
if (element.parent('.input-group').length) {
    error.insertAfter(element.parent());
}
else if (element.prop('type') === 'radio' && element.parent('.radio-inline').length) {
    error.insertAfter(element.parent().parent());
}
else if (element.prop('type') === 'checkbox' || element.prop('type') === 'radio') {
    error.appendTo(element.parent().parent());
}
else {
    error.insertAfter(element);
}
}
});


$( "#new_event" ).validate({
lang: '<%= I18n.locale %>',
rules: { field: { required: true } }
});

</script>
