
<%= simple_form_for (@event), html: { multipart: true } do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :address %>
    <%= f.input :city, :readonly => true  %>
    <%= f.input :country, :readonly => true  %>
    <%= f.input :latitude, :readonly => true %>
    <%= f.input :longitude, :readonly => true %>
    <%= f.input :photo %>
    <%= f.hidden_field :photo_cache %>
              <% if event.photo? %>
                  <%= image_tag event.photo.thumb.url %>
                  <div>
                    <%= label_tag :remove_image do %>
                      Remove image
                      <%= f.check_box :remove_photo %>
                    <% end %>
                  </div>
              <% end %>
    <%= f.association :passenger, include_blank: false, include_hidden: false %>
    <%= f.association :user, include_blank: false, include_hidden: false %>
    <%= f.input :published %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
