<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>City</th>
      <th>Country</th>
      <th>created at</th>
      <th>Photo</th>
      <th>Passenger</th>
      <th>User</th>
      <th>Published</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.address %></td>
        <td><%= event.city %></td>
        <td><%= event.country %></td>
        <td><%= event.created_at %></td>
        <td><%= event.photo %></td>
        <td><%= event.passenger.name %></td>
        <td><%= event.user.name %></td>
        <td><%= event.published %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>

        <% if user_signed_in? %>
          <% if current_user.try(:admin?) %>
          <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
        <td>
          <div id="share">
            <a class="facebook" href="https://www.facebook.com/share.php?u={{url}}&title={{title}}" target="blank"><i class="fa fa-facebook fa-2x"></i></a>
            <a class="twitter" href="https://twitter.com/intent/tweet?status={{title}}+{{url}}" target="blank"><i class="fa fa-twitter fa-2x"></i></a>
            <a class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{url}}&title={{title}}&source={{source}}" target="blank"><i class="fa fa-linkedin fa-2x"></i></a>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
