<div class="container contributions-list">
  <% @events.each do |event| %>
    <div class="product">
      <div class="img-container">
        <% if event.photo? %>
          <%= image_tag(event.photo_url(:medium), alt: 'Image'.to_s) %>
        <% else %>
          <p class="vcenter">
            <i class="fa fa-plus fa-3x text-muted"></i><br>
            <span class="add_user_img"><%= link_to t('add_photo'), edit_event_path(event), class: 'text-muted' %></span>
          </p>
        <% end %>
      </div>
      <div class="product-info">
        <div class="product-content">
          <%= image_tag(event.passenger.photo_url(:marker), alt: 'Image'.to_s, class: 'passenger_thumb img-circle pull-left') rescue "" %>
          <h4><%= link_to "#{t('passenger')} #{event.passenger.name}", passenger_path(event.passenger) %></h4>
          <p><%= t('saved') %> <%= event.created_at.strftime("%d/%m/%Y") %>
          <% if user_signed_in? && current_user.try(:admin?) %>
           | <%= event.user.name %>
          <% end %>
          </p>
          <% if user_signed_in? && current_user.try(:admin?) %>
            <p class="small"><%= t('address') %>: <%= event.address %>(<%= event.latitude %>,<%= event.longitude %>)</p>
          <% end %>

          <div class="buttons">
            <% unless event.photo.blank? %>
              <%= link_to t('edit_photo'), edit_event_path(event), class: 'btn btn-default' %>
            <% end %>
            <% if user_signed_in? && current_user.try(:admin?) && event.photo.present %>
              <%= link_to 'Download', event.photo.url, class: 'btn btn-info' %>

            <% end %>
                         <% if user_signed_in? && current_user.try(:admin?) %>
              <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
              <% end %>

                      <% if event.published && current_user.try(:user?) %>
                        <div id="share">
                          <a class="" href="https://www.facebook.com/share.php?u=<%= url_for(passenger_url(locale, event.passenger_id)) %>&title=<%= event.passenger.name %>" target="blank">Facebook</a> |
                          <a class="" href="https://twitter.com/intent/tweet?status=<%= event.passenger.name %>+<%= url_for(passenger_url(locale, event.passenger_id)) %>" target="blank">Twitter</a> |
                          <a class="" href="https://www.linkedin.com/shareArticle?mini=true&url=<%= url_for(passenger_url(locale, event.passenger_id)) %>&title=<%= event.passenger.name %>&source=<%= url_for(root_url) %>" target="blank">LinkedIn</a>
                        </div>
                      <% end %>

                      <% if event.published.blank? %>
                        <% if current_user.try(:admin?) %>
                          <span class="text-danger">
                            <i class="fa fa-times-circle fa-2x" aria-hidden="true"></i>
                            <%= t('waiting_confirmation_admin') %></span>
                        <% else %>
                          <span class="text-danger">
                            <i class="fa fa-times-circle fa-2x" aria-hidden="true"></i>
                            <%= t('waiting_confirmation') %></span>
                        <% end %>

                        <% elsif current_user.try(:admin?) && event.published %>
                          <span class="text-success">
                            <i class="fa fa-check-circle fa-2x" aria-hidden="true"></i>
                            <%= t('contribution_published_admin') %></span>
                            <%# else %>
                              <!-- <span class="text-success">
                                <i class="fa fa-check-circle fa-2x" aria-hidden="true"></i>
                                <%#= t('contribution_published') %></span> -->
                                <% end %>
                    </div>
                  </div>
                </div>
              </div>

            <% end %>
          </div>
