<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @event.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @event.country %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @event.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @event.longitude %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @event.photo %>
</p>

<p>
  <strong>Passenger:</strong>
  <%= @event.passenger %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user %>
</p>

<p>
  <strong>Published:</strong>
  <%= @event.published %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
