
<%= simple_form_for(@passenger) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :shortcut %>
    <%= f.input :photo %>
    <%= f.hidden_field :photo_cache %>
              <% if passenger.photo? %>
                  <%= image_tag passenger.photo.thumb.url %>
                  <div>
                    <%= label_tag :remove_image do %>
                      Remove image
                      <%= f.check_box :remove_photo %>
                    <% end %>
                  </div>
              <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
    <%= link_to(t('back'), passengers_path, class: "btn btn-default") %>
  </div>
<% end %>
