<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <section class="col-right">
        <%= link_to "#", class: 'pull-right', "data-dismiss" => "modal" do %>
        <%= image_tag("close.svg", :alt => "close", class: "close-btn wiggle") %>
      <% end %>

      <h3 class="text-uppercase title">index</h3>
      <table class="table">
        <thead>
          <tr>
            <th><%= t('passenger') %></th>
            <th><%= t('place') %></th>
            <th><%= t('events_conditional') %></th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>

          <% @passengers.each do |passenger| %>
          <% if passenger.events.size > 0 %>
            <tr>
              <td><%= passenger.name %></td>
              <td><%= passenger.events.last.city unless passenger.events.last.nil? %></td>
              <td><%= passenger.events.size %></td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </section>
    <%= render template: "passengers/about" %>
  </div>
</div>
</div>
</div>
