<% meta title: t('passenger') + " " + @passenger.name %>
<% meta og: { image: @passenger.photo_url(:facebook) } %>
<% meta og: { image:  { width: "1200", height: "630" } } %>

<div class="col-sm-5 ui-topleft">
  <%= link_to("#", onclick: 'showImage();') do %>
  <%= image_tag(@passenger.photo_url(:large), alt: 'Image'.to_s, id: 'passenger_image', style: 'display:none;') if @passenger.photo? %>
  <% end %>

<span class="wiggle default-shadow" id="passenger_title"><%= t('passenger') %> <%= t('hash') %><%= @passenger.name %> </span>
<% unless @passenger.events.last.nil? || current_user == @passenger.events.last.user %>
  <%= submit_tag t('host'), :type => 'button', class: 'btn wiggle default-shadow', id: 'contact', data: { toggle: 'modal', target: '#basicExampleModal', backdrop: false } %>
<% end %>
  <%= submit_tag t('photo'), :type => 'button', class: 'btn wiggle default-shadow', id: 'photo', onclick: 'showImage();' %>
</div>

<div id="map">
  <a href="http://mapbox.com/about/maps" class='mapbox-wordmark' target="_blank">Mapbox</a>
</div>
<script>
</script>
