<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%#= metamagic title: t('site_title'), description: t('social_desc'), keywords: t('keywords'), image: asset_path("banner.jpg"), url: request.original_url, og: { title: t('site_title'), site_name: t('site_title'), type: 'website', description: t('social_desc') }, twitter: { title: t('site_title'),description: t('social_desc'), creator: "@pssgrs", site: "@pssgrs", img: { src: asset_path("banner.jpg") } } %>
    <meta property="og:title" content="<%= t('site_title') %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:description" content="<%= t('social_desc') %>" />
    <meta property="og:site_name" content="<%= t('site_title') %>" />
    <meta property="fb:app_id" content="<%= ENV['FB_APPID'] %>" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= ENV['TW_APPID'] %>">
    <meta name="twitter:title" content="<%= t('site_title') %>">
    <meta name="twitter:description" content="<%= t('social_desc') %>">
    <meta name="twitter:creator" content="<%= ENV['TW_APPID'] %>">
    <%= metamagic %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=<%= ENV['GMAPSJS_API_KEY'] %>"></script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "jquery.validate.localization/messages_#{I18n.locale}" %>
    <%= csrf_meta_tags %>
  </head>
  <% if Rails.env.production? %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV['GA_ID'] %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '<%= ENV['GA_ID'] %>');
    </script>
  <% end %>

  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <%= render 'layouts/navigation_map' if @map_nav %>
    <%= render :template => 'contacts/new' if @user_contact_form %>
    <%= render :template => 'passengers/list' %>
  </body>
</html>
