<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <% if Rails.env.staging? %>
      <meta name="robots" content="noindex" />
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% metamagic site: t('site_title'), title: [:title, :site], separator: " | " %>
    <%= metamagic %>
    <meta name="description" content="<%= t('social_desc') %>">
    <meta name="keywords" content="<%= t('keywords') %>">
    <meta name="url" content="<%= request.original_url %>">
    <meta property="og:title" content="<%= t('site_title') %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:description" content="<%= t('social_desc') %>" />
    <meta property="og:site_name" content="<%= t('site_title') %>" />
    <meta property="fb:app_id" content="<%= Rails.application.credentials.dig(:facebook_id) %>" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= t('site_title') %>">
    <meta name="twitter:description" content="<%= t('social_desc') %>">
    <meta name="theme-color" content="#181818">
    <meta name="msapplication-navbutton-color" content="#181818">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=<%= Rails.application.credentials.dig(Rails.env.to_sym, :google, :gmaps_js_api_key) %>"></script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= include_gon nonce: content_security_policy_nonce %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "jquery.validate.localization/messages_en" %>
    <%= javascript_include_tag "jquery.validate.localization/messages_fr" %>
    <%= csrf_meta_tags %>
  </head>
  <% if Rails.env.production? %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous" />
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= Rails.application.credentials.dig(Rails.env.to_sym, :google, :analytics) %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '<%= Rails.application.credentials.dig(Rails.env.to_sym, :google, :analytics) %>');
    </script>
  <% end %>

  <body class="<%= controller_name %> <%= action_name %>">
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <%= render 'layouts/navigation_map' if @map_nav %>
    <%= render :template => 'contacts/new' if @user_contact_form %>
    <%= render :template => 'passengers/list' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
